@import "tailwindcss";
@font-face {
  font-family: "Pretendard Variable";
  src: url("./fonts/PretendardVariable.woff2") format("woff");
  font-weight: 45 920;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Pretendard Variable;
  letter-spacing: -0.02em;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  padding: 5px;
  border-radius: 9999px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

pre {
  font-family: "Pretendard Variable"; /* 원하는 폰트로 설정 */
  white-space: pre-wrap; /* 필요 시 줄바꿈 허용 */
}
